<div class="container">
    <div class="row">
        <div class="col-md-12 m-5 p-5" align="center">
            <h1>Paciente: {{paciente}}</h1>
            <form>
                <label for="diagnostico">Diagnóstico</label>
                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-light" id="addon-wrapping"><i class="fas fa-stethoscope"></i></span>
                    </div>
                    <input type="text" class="form-control" ng-model="diagnostico" id="diagnostico" placeholder="Escriba aqui el diagnostico..." required>
                </div>
                <label for="indicacion">Indicaciones</label>
                    <div class="input-group flex-nowrap mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light" id="addon-wrapping"><i class="fas fa-diagnoses"></i></span>
                        </div>
                    <textarea ng-model="indicacion" id="indicacion" cols="150" rows="15" placeholder="Escriba aqui las indicaciones..." required></textarea>
                </div>
                <div class="col-sm-12" align="center">
                    <a ng-click="crearReceta()" href="#!crearReceta" type="submit" class="btn btn-dark btn-lg mt-3">Crear Receta</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--
<div class="mt-5" ng-if="crear">
        <div class="container" style="border-bottom: dotted; color: blue">
            <div class="row">
                <div class="col-xl-12 text-center text-dark">
                    <h5 class="h5">Medico General Pedro Romero</h5>
                    <h5 class="h5">Cedula Profesional 01234x</h5>
                    <h5 class="h5">Universidad Nacional Autonoma De Mexico</h5>
                    <h5 class="h5">Torres Nuevas #84, Col. Esperanza Del Benito JuareZ C.P.00985</h5>
                    <h5 class="h5">Tel: 496-118-54-57</h5>
                </div>
            </div>
        </div>
    
        <div class="container text-justify portada">
            <div class="row border m-2">
                <div class="col-xl-6 border">
                    <p><strong>Nombre:</strong> Juan Cornejo</p>
                </div>
                <div class="col-xl-6 border">
                    <p><strong>Fecha:</strong> 18 de abril del 2018</p>
                </div>
                <div class="col-xl-12 border">
                    <p><strong>Edad:</strong> 43 anos</p>
                </div>
                <div class="col-xl-4 border">
                    <p class="mt-5"><strong>Sexo:</strong> Masculino</p>
                </div>
                <div class="col-xl-8 border">
                    <p><strong>Comoxan.Receta con 250 tabletas. Tomas una tableta cada 8 horas. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Veniam, tenetur reprehe borernderit fuga, optio suscipit debitis
                            voluptatibus
                            illo autem, impedit perspiciatis molestias dolore! Esse aliquid, magnam nesciunt quos architecto
                            ratione
                            nisi!</p></strong>
                </div>
                <div class="col-xl-4 border">
                    <p class="mt-5"><strong>Alergias:</strong> Negada</p>
                </div>
                <div class="col-xl-8 border">
                    <p><strong> con 250 tabletas. Tomas una tableta cada 8 horas. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Veniam, tenetur reprehenderit fuga, optio suscipit debitis
                            voluptatibus
                            illo autem, impedit perspiciatis molestias dolore! Esse aliquid, magnam nesciunt quos architecto
                            ratione
                            nisi!</strong></p>
                </div>
                <div class="col-xl-12 border">
                    <p><strong>Talla:</strong> 170 cm</p>
                </div>
                <div class="col-xl-12 border">
                    <p><strong>Temperatura:</strong> 37.5</p>
                </div>
                <div class="col-xl-12 border">
                    <p><strong>T.A:</strong> 110/70</p>
                </div>
                <div class="col-xl-12 border text-right">
                    <p><strong>Firma: ______________________</strong></p><br>
                </div>
            </div>
        </div>
    </div>-->