<div class="container pb-3">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <div align="center">
                <h1 class="wow fadeInUp"><spam>Ingrese sus datos</spam></h1>
            </div>
            <form>
                <div class="row ml-5 mr-5">
                    <div class="col-md-6">
                        <label for="nombre">Nombre(s)</label>
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light" id="addon-wrapping"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" ng-model="nombre" id="nombre" placeholder="Pancho Samuel" required>
                        </div>
                        <label for="apellidos">Apellidos</label>
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light" id="addon-wrapping"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" ng-model="apellidos" id="apellidos" placeholder="Castro Perez" required>
                        </div>
                        <label for="usuario">Nombre de usuario</label>
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light" id="addon-wrapping"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" placeholder="Sam_Leos" class="form-control" ng-model="usuario" id="usuario" required>
                        </div>

                        
                    </div>
                    
                    <div class="col-md-6">
                        <label for="correo">Correo Electronico</label>
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light" id="addon-wrapping"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" class="form-control" ng-model="correo" id="correo" placeholder="examlpe@correo.com" required>
                        </div>
                        <label for="contrasena">Contraseña</label>
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light" id="addon-wrapping"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" ng-model="contrasena" id="contrasena" placeholder="*******" required>
                        </div>
                        <label for="contrasena">Repita la contraseña</label>
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light" id="addon-wrapping"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control"  id="contrasena2" placeholder="*******" required>
                        </div>
                    </div>
                    <div class="col-sm-12" align="center">
                        <button ng-click="registraUsuarioPac()" type="submit" class="btn btn-dark btn-lg mt-3">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

